<%- model_class = Invoice -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <div class="pull-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                invoices_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_invoice_path(@invoice), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                invoice_path(@invoice),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
</div>


<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:bill_number) %>:</strong></dt>
  <dd><%= @invoice.bill_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bill_date) %>:</strong></dt>
  <dd><%= format_date @invoice.bill_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_amount) %>:</strong></dt>
  <dd><%= @invoice.total_amount %></dd>
</dl>

<hr>

<div>
  <h3>Payments</h3>
  <div class="pull-right">
    <%= link_to "Add Payment", new_invoice_payment_path(@invoice), class: 'btn btn-primary' %>
  </div>
</div>
<br>
<br>
<% if @invoice.payments.present? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Payment Date</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @invoice.payments.each do |payment| %>
        <tr>
          <td><%= format_date payment.issue_date %></td>
          <td><%= payment.amount %></td>
          <td>
            <%= link_to edit_invoice_payment_path(payment.invoice, payment), class: 'btn btn-warning' do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
            <%= link_to invoice_payment_path(payment.invoice, payment), method: :delete, class: 'btn btn-danger' do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>